{% extends "../base.html" %}
{% load i18n allauth account %}
{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}

{% block content %}
<div class="container">
    <div class="row text-center my-5">
        <h1><strong>Change Password</strong></h1>
    </div>
    <div class="row">
        {% url 'account_change_password' as action_url %}
        {% element form form=form method="post" action=action_url %}
            {% slot body %}
                {% csrf_token %}
                {{ redirect_field }}
                {% element fields form=form %}
                {% endelement %}
            {% endslot %}
            {% slot actions %}
                <button class="custom-button my-4" type="submit" aria-label="Change Password">
                    <i class="fa-solid fa-arrow-right-to-bracket me-2"></i>Set Password
                </button>
                {% element button type="submit" %}
                    {% trans "Change Password" %}
                {% endelement %}
                <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            {% endslot %}
        {% endelement %}
    </div>
</div>
{% endblock content %}
