{% extends '_second_nav.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div id="basket-banner" class="row text-center">
        <div class="col py-2">
            <h5 class="my-1 text-uppercase"><strong>Checkout Form</strong></h5>
        </div>
    </div>
    <div class="row my-3 d-flex justify-content-around align-items-start">
        <div class="col-12 col-lg-5 order-lg-last bg-light rounded shadow-sm p-4">
            <h6 class="text-uppercase"><strong>Order Summary ( {{ basket_items_count }} )</strong></h6>
            <hr>
            <div class="row">
                {% include 'basket/_table.html' %}
            </div>
            <div class="row">
                {% include 'basket/_summary.html' %}
            </div>
        </div>
        <div class="col-12 col-lg-6 col-md-12 col-sm-12">
            <form action="{{ checkout_url }}" id="book-payment-form" method="POST">
                {% csrf_token %}
                <fieldset class="px-3 mb-3">
                    <legend class="fieldset-details fieldset-label small text-black text-uppercase"><strong>Details</strong></legend>
                    {{ orderForm.full_name | as_crispy_field }}
                    {{ orderForm.email | as_crispy_field }}
                    {{ orderForm.phone_number | as_crispy_field }}
                </fieldset>
                <fieldset class="px-3 mb-3">
                    <legend class="fieldset-delivery fieldset-label small text-black text-uppercase"><strong>Delivery</strong></legend>
                    {{ orderForm.street_1 | as_crispy_field }}
                    {{ orderForm.street_2 | as_crispy_field }}
                    {{ orderForm.town_city | as_crispy_field }}
                    {{ orderForm.county | as_crispy_field }}
                    {{ orderForm.postcode | as_crispy_field }}
                    {{ orderForm.country | as_crispy_field }}
                    <div class="form-check">
                        {% if user.is_authenticated %}
                            <label class="form-check-label small" for="save-info">Save delivery information to 'My Profile' for faster checkouts.</label>
                            <input type="checkbox" id="save-info" class="form-check-input" name="save-info" checked>
                        {% else %}
                        <label class="form-check-label" for="save-info">Save to My Profile for faster checkouts
                            <a href="{{ signup_url }}">Create an account</a>
                            <p>or</p>
                            <a href="{{ signin_url }}">login</a> to save this information for faster checkouts.
                        </label>

                        {% endif %}
                    </div>
                </fieldset>
                <fieldset class="px-3">
                    <legend class="fieldset-label small text-black px-2 text-uppercase"><strong>Payment</strong></legend>
                    <!-- Stripe Card Element. -->
                    <div class="mb-3" id="card-element"></div>
                    <!-- /Stripe Card Element. -->

                    <!-- Form Errors -->
                    <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                    <!-- /Form Errors -->

                    <!-- Client Secret passed to view for retrieving payment intent id. -->
                    <input type="hidden" value="{{ client_secret }}" name="client_secret">
                    <!-- /Client Secret passed to view for retrieving payment intent id. -->
                     <!-- Purely for demonstration purposes, links to LinkedIn. -->
                    <div class="form-check">
                        <label for="tc" class="form-check-label small">I agree to the <a href="https://www.linkedin.com/in/ana-nikolayenia-k/" target="_blank">terms and conditions</a></label>
                        <input type="checkbox" name="tandc" id="tc" class="form-check-input" required>
                    </div>
                    <div class="button-container d-flex justify-content-end">
                        <button id="submit-button" class="custom-button mt-2">Complete Order</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<div id="loading-overlay">
    <h1 class="text-dark logo-font loading-spinner">
        <i class="fas fa-2x fa-sync-alt fa-spin"></i>
    </h1>
</div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret_key" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}