{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row text-center mt-2 d-flex justify-content-center">
        <div id="basket-banner" class="row text-center">
            <div class="col py-2">
                <h5 class="my-4 text-uppercase"><strong>Oops! Something's Gone Wrong</strong></h5>
                <p>Please try again.<br>If the issue persists, do not hesistate to contact our support team to arrange a delivery at a discounted rate.</p>
            </div>
            <a href="{{ contact_url }}" aria-label="Go to Contact Page"
                class="btn btn-success mb-5"><i class="fa-solid fa-sm fa-house-chimney me-2"></i>Contact Us
            </a>
        </div>
    </div>
</div>
{% endblock %}