{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row text-center mt-2 d-flex justify-content-center">
        <div id="basket-banner" class="row text-center">
            <div class="col py-2">
                <h5 class="my-4 text-uppercase"><strong>Thank you!</strong></h5>
                <p>Your order has been placed.<br>You should shortly receive a confirmation email to <strong>{{ book_order.email }}</strong></p>
            </div>
        </div>
        <!-- <h1>Success!</h1> -->
        <div class="col-10">
            <h5 class="text-center mt-4">Order Summary</h5>
            <div class="mb-2 d-flex flex-row justify-content-center align-items-center">
            {% for book in basket_books %}
                <div class="book p-3 d-flex flex-column align-items-center justify-content-start" style="max-height: 550px;">
                    <img src="../../../static/images/1984_cover.jpg" alt="" style="width: 150px;">
                    <div class="text-center mt-3 mb-1">
                        <p class="h5">{{ book.book.title }}</p>
                        <p class="text-secondary"><em>by {{ book.book.author }} | {{ book.book.year_published }}</em></p>
                        <p>Type: {{ book.type }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
            <a href="{{ home_url }}" class="btn btn-success mb-5"><i class="fa-solid fa-sm fa-house-chimney me-2"></i>Return Home</a>
        </div>
    </div>
</div>
{% endblock %}