{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row text-center mt-2 d-flex justify-content-center">
        <div id="basket-banner" class="row">
            <div class="py-2 text-start d-flex justify-content-between align-items-start">
                <div class="thank-you">
                    <h4 class="my-4 text-uppercase text-success"><strong><i class="fa-solid fa-circle-check me-2"></i>Thank you!</strong></h4>
                    <p>Your order has been placed.<br>You should shortly receive a confirmation email to <strong>{{ book_order.email }}</strong></p>
                </div>
                <div class="order-information">
                    <h6 class="mt-4"><strong>Order Number</strong></h6>
                    <p><strong>#{{ book_order.order_number }}</strong></p>
                    <p class="m-0 p-0 small">Order Placed: {{ book_order.date }}</p>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <!-- Delivery Details -->
            <div class="card col-lg-4 col-sm-12">
                <div class="card-body text-start">
                    <h5 class="my-4"><strong>Delivery Details</strong></h5>
                    <p class="my-0 p-0">{{ book_order.full_name }}</p>
                    <p class="my-0 p-0">{{ book_order.street_1 }}</p>
                    {% if book_order.street_2 %}
                        <p class="my-0 p-0">{{ book_order.street_2 }}</p>
                    {% endif %}
                    <p class="my-0 p-0">{{ book_order.town_city }}</p>
                    {% if book_order.county %}
                        <p class="my-0 p-0">{{ book_order.county }}</p>
                    {% endif %}
                    {% if book_order.postcode %}
                        <p class="my-0 p-0">{{ book_order.postcode }}</p>
                    {% endif %}
                    <p class="my-0 p-0">{{ book_order.country }}</p>
                    <div class="billing">
                        <h5 class="my-4"><strong>Billing Breakdown</strong></h5>
                        <p class="m-0 p-0">Subtotal : €{{ book_order.order_total }}</p>
                        <p class="m-0 p-0">Shipping : {% if book_order.delivery_cost == 0.00 %}<strong>FREE</strong>{% else %}€{{ book_order.delivery_cost }}{% endif %}</p>
                        <p class="m-0 p-0">Total : €{{ book_order.grand_total }}</p>
                    </div>
                    <a href="{{ home_url }}" class="btn btn-lg btn-success mt-4">
                        <i class="fa-solid fa-sm fa-house-chimney me-2"></i>
                        <small>Return Home</small>
                    </a>
                </div>
            </div>
            <!-- /Delivery Details -->
            <!-- Order Summary -->
            <div class="card col-lg-8 col-sm-12 border-0">
                <div class="card-body">
                    <div class="mb-2 d-flex justify-content-center align-items-start">
                        {% for book in book_order.booklineitem.all %}
                            <div class="book p-3 d-flex flex-column align-items-center justify-content-start" style="max-height: 550px;">
                                <img src="../../../static/images/1984_cover.jpg" alt="" style="width: 150px;">
                                <div class="text-center mt-3 mb-1">
                                    <p class="h5"><strong>{{ book.book.title }}</strong></p>
                                    <p class="text-secondary small">by {{ book.book.author }} | {{ book.book.year_published }}</p>
                                    <p class="m-0 p-0 small">Type: {{ book.type }}</p>
                                    <p class="m-0 p-0 small">Amount: {{ book.quantity }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- /Order Summary -->
        </div>
    </div>
</div>
{% endblock %}