{% extends '_second_nav.html' %}
{% load static %}

{% block extra_css %}<link rel="stylesheet" href="{% static 'basket/css/basket.css' %}">{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row text-center">
        <h6 class="text-uppercase mb-4"><strong>
            {% if not books_in_basket %}<i class="fa-solid fa-wine-glass-empty me-3"></i>
            {% else %}<i class="fa-solid fa-wine-glass me-2"></i>{% endif %}
            Your Basket{% if not books_in_basket %} is empty  :({% endif %}
        </strong></h6>
        {% if not books_in_basket %}
        <div class="button-container text-center mt-4">
            <a href="{{ library_url }}">
                <button class="custom-button">
                    <i class="fa-solid fa-sm fa-chevron-left me-2"></i>Return to Library
                </button>
            </a>
        </div>
        {% endif %}
    </div>

    <div class="row d-flex justify-content-around align-items-start">
        {% if books_in_basket %}
            <!-- Table -->
            <div class="table-responsive col-lg-7 col-md-6 col-sm-12 mx-2">
                {% include 'basket/_table.html' %}
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 bg-light p-4 rounded shadow-sm">
                {% include 'basket/_summary.html' %}
                <div class="d-flex flex-row align-items-start justify-content-between py-3">
                    <a href="{{ checkout_url }}">
                        <button class="custom-button">
                            <i class="fas fa-lock me-2"></i>Secure Checkout
                        </button>
                    </a>
                    <a href="{% url 'library' %}">
                        <button class="custom-button">
                            <i class="fa-solid fa-sm fa-book me-2"></i>Keep Shopping
                        </button>
                    </a>
                </div>
            </div>
            <!-- /Table -->
        {% endif %}
    </div>
</div>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<!-- !!!!! This needs amending to delete only id + type instead of just id -->
    <script type="text/javascript">
        const delete_btns = document.getElementsByClassName('delete-book');

        for (let button of delete_btns){
            button.addEventListener('click', function(e){

                e.preventDefault();

                // Taken from Django Documentation + Stack Overflow: 
                // https://stackoverflow.com/questions/43606056/proper-django-csrf-validation-using-fetch-post-request
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                        }
                    }}
                return cookieValue;
                }

                const csrfToken = getCookie('csrftoken');

                const bookId = button.dataset.bookId;
                const bookType = button.dataset.bookType;
                const url = `delete/${bookId}`;

                let data = new URLSearchParams({
                    'csrfmiddlewaretoken': csrfToken,
                    'book_type': bookType
                });

                fetch(url, {
                    method: 'POST',
                    body: data,
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                })
                .then(response => {
                    if (response.ok) {
                        location.reload();
                    }
                });
            });
        }
</script>
{% endblock %}