{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div id="basket-banner" class="row text-center">
        <div class="col bg-black text-white py-2">
            <h5 class="my-1 text-uppercase">Your Basket</h5>
        </div>
    </div>
    <div class="row mt-5 d-flex justify-content-center align-items-center">
        <div class="col-lg-8 col-md-12">
            {% if books_in_basket %}
            <div class="table-responsive rounded">

                <!-- Table -->
                <table class="table table-sm table-borderless">
                    <thead class="text-center">
                        <tr class="mb-5" style="border-bottom: 1px solid lightgrey;">
                            <th class="text-start">Book</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th class="text-end">Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for book in books_in_basket %}
                        <tr  class="text-center">
                            <td>
                                <div class="container-data d-flex flex-column justify-content-center align-items-start">
                                    <p><strong>{{ book.book.title }}</strong></p>
                                    <div class="picture" style="width: 250px; height: 300px; background-color: lightgrey;"></div>
                                    <img src="{{ book.book.image.url }}" alt="">
                                    <p class="small text-muted">ISBN: {{ book.book.isbn|upper }}</p>
                                </div>
                            </td>
                            <td>
                                <p>€{{ book.book.price|floatformat:2 }}</p>
                            </td>
                            <td>
                                <p id="quantity_{{ book.book_id }}" class="basket-book-quantity">{{ book.quantity }}</p>

                                <div class="form-container d-flex align-items-center justify-content-center">
                                    <form action="{% url 'update_basket' book.book_id %}" method="POST" id="update_form_{{ book.book_id }}">
                                        {% csrf_token %}
    
                                        <!-- Input Group -->
                                        <div class="input-group d-none align-items-center justify-content-center" id="form_{{ book.book_id }}">
                                            <!-- '-' -->
                                            <div class="input-group-prepend">
                                                <button type="button" class="decrement btn" id="decrement_{{ book.book_id }}" data-book-id="{{ book.book_id }}">
                                                    <i class="fa-solid fa-minus"></i>
                                                </button>
                                            </div>
                                            <!-- /'-' -->

                                            <div class="qty-container">
                                                <input type="number" class="form-control qty_input text-center" name="quantity" value="{{ book.quantity }}" min="1" max="99" data-book-id="{{ book.book_id }}" id="book_id_{{ book.book_id }}">
                                                <span class="small" id="qty_warning"></span>
                                            </div>

                                            <!-- '+' -->
                                            <div class="inut-group-append">
                                                <button type="button" class="increment btn" id="increment_{{ book.book_id }}" data-book-id="{{ book.book_id }}">
                                                    <i class="fa-solid fa-plus"></i>
                                                </button>
                                            </div>
                                            <!-- /'+' -->
                                        </div>
                                        <!-- /Input Group -->

                                        <!-- Handlers -->
                                        <div class="button-container mt-4 d-flex flex-column justify-content-center">
                                            <!-- Manipulation (js) -->
                                            <span class="d-none basket-link btn btn-sm btn-success cancel-update my-1" data-book-id="{{ book.book_id }}" id="cancel_{{ book.book_id }}">Cancel</span>
                                            <span class="basket-link btn btn-sm btn-warning update-book my-1" data-book-id="{{ book.book_id }}">Update Quantity</span>
                                            <!-- /Manipulation (js) -->
                                            <!-- Buttons -->
                                            <a class="d-none basket-link btn btn-sm btn-warning save-book my-1" data-book-id="{{ book.book_id }}" id="save_{{ book.book_id }}">Save Changes</a>
                                            <a href="{% url 'delete_basket' book.book_id %}" class="basket-link btn btn-sm btn-danger delete-book my-1" data-book-id="{{ book.book_id }}" id="delete_{{ book.book_id }}">Delete Book</a>
                                            <!-- /Buttons -->
                                        </div>
                                        <!-- /Handlers -->

                                    </form>
                                </div>
                            </td>
                            <td class="text-end">
                                <p>€{{ book.indiv_total }}</p>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="5" class="text-end">
                                <h6>
                                    <strong>
                                        Subtotal: €{{ total|floatformat:2 }}
                                    </strong>
                                </h6>

                                {% if total > free_delivery_threshold %}
                                <p class="mb-1 text-success">
                                    You qualify for free delivery!
                                </p>
                                <h6>
                                    Delivery: <span class="text-success">FREE</span>
                                </h6>
                                {% else %}
                                <h6>Delivery: €{{ delivery|floatformat:2 }}</h6>
                                    <p class="mb-1 text-danger">
                                        Spend just <strong>${{ free_delivery_threshold }}</strong> more to get free delivery!
                                    </p>
                                {% endif %}
                                <h5 class="mt-4">
                                    <strong>
                                        Total: €{{ books_total|floatformat:2 }}
                                    </strong>
                                </h5>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-end">
                                <a href="{% url 'library' %}" class="btn btn-warning">
                                    <i class="fa-solid fa-sm fa-book me-2"></i>Keep Shopping
                                </a>
                                <a href="" class="btn btn-success">
                                    <i class="fas fa-lock me-2"></i>Secure Checkout</span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- /Table -->
            </div>
            {% else %}
            <p class="lead text-center">Your basket is empty.</p>
            <div class="button text-center">
                <a href="{{ library_url }}" class="btn btn-warning mt-2">
                    <i class="fa-solid fa-sm fa-chevron-left me-2"></i>Return to Library
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
    const delete_btns = document.getElementsByClassName('delete-book');
    for (let button of delete_btns){
        button.addEventListener('click', function(e){
            const bookId = button.dataset.bookId;
            
            let csrftoken = getCookie('csrftoken');
            let data = new FormData();
            fetch(`delete/${bookId}`, {
                method: 'DELETE',
                body: JSON.stringify(data),
                headers: { "X-CSRFToken": csrftoken },
            });

            // Taken from Django Documentation + Stack Overflow: 
            // https://stackoverflow.com/questions/43606056/proper-django-csrf-validation-using-fetch-post-request
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                    }
                }}
            return cookieValue;
            }
        });
    }
</script>
{% endblock %}