{% extends "_second_nav.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'basket/css/basket.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row d-flex justify-content-around align-items-start mt-3">
        {% if books_in_basket %}
            <!-- Table -->
            <div class="table-responsive col-lg-7 col-md-6 col-sm-12 mx-2">
                <div class="large-table d-none d-lg-block">
                    {% include 'basket/_table.html' %}
                </div>
                <div class="small-table d-block d-lg-none">
                    {% include 'basket/_mobile_table.html' %}
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 bg-light p-3 rounded shadow-sm">
                {% include 'basket/_summary.html' %}
                <div class="d-flex flex-column flex-md-row align-items-center align-items-md-start justify-content-between py-3">
                    <a href="{% if user.is_authenticated %}{{ checkout_url }}{% else %}{{ signin_url }}{% endif %}"
                    aria-label="{% if user.is_authenticated %}Checkout{% else %}Sign In to Checkout{% endif %}" class="text-white custom-button">
                        <i class="fas fa-lock me-2"></i>Secure Checkout
                    </a>
                    <a href="{% url 'library' %}" aria-label="Keep Shopping in Library" class="text-white custom-button mt-3 mt-md-0">
                        <i class="fa-solid fa-sm fa-book me-2"></i>Keep Shopping
                    </a>
                </div>
            </div>
            <!-- /Table -->
        {% else %}
        <p class="text-center mt-5"><strong>You have no items in your basket.</strong></p>
        <div class="button-container d-flex justify-content-center">
            <a href="{{ library_url }}" aria-label="Keep Shopping on Library Page" class="text-white custom-button mt-3">
                <i class="fa-solid fa-sm fa-book me-2"></i>Keep Shopping
            </a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block extra_js %}
{{ block.super }}
    <script type="text/javascript">
        const delete_btns = document.getElementsByClassName('delete-book');

        for (let button of delete_btns){
            button.addEventListener('click', function(e){

                e.preventDefault();

                // Taken from Django Documentation + Stack Overflow: 
                // https://stackoverflow.com/questions/43606056/proper-django-csrf-validation-using-fetch-post-request
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                        }
                    }}
                return cookieValue;
                }

                const csrfToken = getCookie('csrftoken');

                const bookId = button.dataset.bookId;
                const bookType = button.dataset.bookType;
                const url = `delete/${bookId}`;

                let data = new URLSearchParams({
                    'csrfmiddlewaretoken': csrfToken,
                    'book_type': bookType
                });

                fetch(url, {
                    method: 'POST',
                    body: data,
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    }
                })
                .then(response => {
                    if (response.ok) {
                        location.reload();
                    }
                });
            });
        }
</script>
{% endblock %}