{% extends '_second_nav.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'community/css/community.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row d-flex justify-content-around mt-3">
        {% if books_in_genre %}
        <!-- More Books -->
        <div class="col-lg-3 col-md-6 col-sm-12">
            <h6 class="m-0 p-0 m-3 small text-black text-uppercase"><strong>More {{ current_genre.name }} Books</strong></h6>
            {% for book in books_in_genre %}
                <span>
                    <a href="{{ book.get_absolute_url }}" class="btn-link">
                        <img src="{{ book.image.url }}" alt="{{ book.title }} cover" class="forum-book rounded m-2">
                    </a>
                </span>
            {% endfor %}
        </div>
        <!-- /More Books -->
        {% endif %}

        <!-- Forums -->
        <div class="bg-light border p-4 rounded col-lg-8 col-md-6 col-sm-12 me-3 d-flex flex-column justify-content-between">
            <h6 class="m-0 p-0 mb-3 small text-black text-uppercase"><strong>Community Forums</strong></h6>
            <div class="inner-forum bg-white rounded shadow-sm p-2">
                <div class="d-flex flex-column justify-content-start">
                    <div class="forum-box d-flex flex-column justify-content-center">
                        {% if forums %}
                            {% for forum in forums %}
                                {% if forum.community == community %}
                                <a href="{{ forum.get_absolute_url }}" class="forum-link my-1">
                                    <div class="p-3">
                                        {{ forum.name }}
                                    </div>
                                </a>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                        <p class="text-seconary text-center">This community doesn't have any forums yet :)</p>
                        <p class="text-seconary text-center">To start a chat, click the button below and give your community a descriptive name.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <form method="POST" class="d-none justify-content-start align-items-start mt-2 mt-md-3 my-2 mt-md-4" id="forumForm">
                <div class="main-form w-100">
                    {% csrf_token %}
                    {{ forumForm|crispy }}
                    <p class="text-muted small mb-3"><strong>Note:</strong> You will be taken inside the forum after creating it.</p>
                </div>
                <div class="button-container">
                    <button type="submit" class="small-custom-button">
                        <i class="fa-solid fa-plus me-2"></i>Create
                    </button>
                </div>
            </form>
            <button class="custom-button mt-3" id="start-forum">
                <i class="fa-solid fa-comments me-2"></i>Start a Discussion
            </button>
        </div>
        <!-- /Forums -->
    </div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'community/js/forums.js' %}" type="module"></script>
{% endblock %}