{% extends '_second_nav.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
    <div class="row d-flex justify-content-around">
        <!-- Forums -->
        <div class="col-3 border d-flex flex-column">
            <h5 class="mb-4"><strong>Forums</strong></h5>
            <div class="forum-container col-12">
                {% for forum in forums %}
                {% if forum.community == community %}
                <a href="">
                    <div class="card py-2 px-3 mb-2">
                        {{ forum.name }}
                    </div>
                </a>
                {% endif %}
                {% endfor %}
            </div>
            <form method="POST" class="d-none" id="forumForm">
                {% csrf_token %}
                {{ forumForm|crispy }}

                <div class="button-container">
                    <button type="submit" class="btn btn-sm btn-success">Create</button>
                </div>
            </form>
            <button class="btn btn-warning d-flex align-items-center justify-content-center" id="start-forum">
                <i class="fa-solid fa-plus me-2"></i>Start a Discussion
            </button>
        </div>
        <!-- /Forums -->

        <!-- Latest Discussions -->
        <div class="col-5 text-center">
            <h5 class="mb-4"><strong>Latest Discussions</strong></h5>
        </div>
        <!-- /Latest Discussions -->

        <!-- More Books -->
        <div class="col-3 text-center">
            <h5 class="mb-4"><strong>More Books in this Genre</strong></h5>
            {% for book in books_in_genre %}
            <div class="row">
                <div class="book d-flex flex-column align-items-center justify-content-start" style="max-height: 550px;">
                    <a href="{{ book.get_absolute_url }}">
                        <img src="../../../static/images/1984_cover.jpg" alt="" style="width: 80px;">
                    </a>
                    <div class="text-center mt-3 mb-1">
                        <p class="h5">{{ book.title }}</p>
                        <p class="text-secondary"><em>by {{ book.author }} | {{ book.year_published }}</em></p>
                    </div>
                    <a href="{{ book.get_absolute_url }}" class="btn btn-warning mb-5 mt-3">Read More</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- /More Books -->
    </div>
{% endblock %}