{% extends '_second_nav.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'community/css/community.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="order-first order-md-last chat-container bg-light p-4 rounded col-lg-8 col-md-6 col-sm-12 me-3 d-flex flex-column justify-content-between">
            <h6 class="m-0 p-0 mb-3 small text-black text-uppercase"><strong>{{ forum.name }}</strong></h6>
            <div class="inner-forum rounded d-flex flex-column justify-content-between">
                <div class="forum-message-container bg-white shadow-sm d-flex flex-column justify-content-start pt-2">

                    {% if not forum_messages %}
                        <p class="small text-center h5 text-secondary mt-4">Start the chat to connect with others in your community :)</p>
                    {% else %}
                        <!-- Date -->
                        {% if last_message.date == todays_date %}
                        <p class="text-center text-uppercase"><strong><small>Today</small></strong></p>
                        {% else %}
                        <p class="text-center text-uppercase">{{ last_message.date }}</p>
                        {% endif %}
                        <!-- Date -->

                        {% for message in forum_messages %}
                            <!-- Message -->
                            <div class="row m-3 p-0 d-flex {% if message.messenger.id == request.user.id %}justify-content-end{% else %}justify-content-start{% endif %} align-items-start">
                                <div class="{% if message.messenger.id == request.user.id %}message-box{% else %}message-box-alternative{% endif %} col-lg-6 mb-4">
                                    <div class="message p-2">
                                        <div class="message-heading d-flex align-items-center justify-content-between">
                                            {% if message.messenger.id == request.user.id %}
                                            <p class="mb-2 text-white"><strong><small>me</small></strong></p>
                                            {% else %}
                                            <p class="mb-2 text-white"><strong><small>{{ message.messenger }}</small></strong></p>
                                            {% endif %}
                                        </div>
                                        <p id="message-content-{{ message.id }}" class="text-white">{{ message.content }}</p>
                                        <div class="message-footer d-flex justify-content-between align-items-end">
                                            {% if message.messenger.id == request.user.id %}
                                            <button class="message-buttons btn p-0 mt-3 mx-0" type="button" data-bs-toggle="modal" data-bs-target="#messageDelete">
                                                <i class="fa-solid fa-sm fa-trash me-2"></i><span><small>DELETE</small></span>
                                            </button>
                                            
                                            <!-- Modal -->
                                            <div class="modal fade" id="messageDelete" tabindex="-1" role="dialog" aria-labelledby="messageDelete" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header border-0 d-flex justify-content-between">
                                                            <h5 class="modal-title text-black" id="messageDelete">Are you sure?</h5>
                                                            <span aria-hidden="true" class="close text-black" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></span>
                                                        </div>
                                                        <div class="modal-body text-center border-0">
                                                            <p>You won't be able to undo the delete.</p>
                                                        </div>
                                                        <div class="modal-footer d-flex justify-content-between">
                                                            <button type="button" class="custom-button" data-bs-dismiss="modal">No, Cancel</button>
                                                            <a href="{% url 'delete_message' message.forum.slug message.id %}"
                                                                class="message-buttons btn p-0 mt-3 mx-0 text-black" aria-label="Delete Message">
                                                                <i class="fa-solid fa-sm fa-trash me-2"></i><span><small>DELETE</small></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="message-sent d-flex align-items-center justify-content-between">
                                                <p class="text-end text-white"><small>sent: {{ message.date_sent.time }}</small></p>
                                                <span class="tickies d-flex justify-content-end my-2 ms-2">
                                                    <i class="fa-solid fa-check-double"></i>
                                                </span>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Message -->
                        {% endfor %}
                    {% endif %}

                </div>
                <form method="post" id="messageForm" class="d-flex justify-content-start align-items-start mt-2 mt-md-3 my-2 mt-md-4">
                    <div class="main-form w-100">
                        {% csrf_token %}
                        {{ message_form|crispy }}
                        <p class="text-muted small"><strong>Note:</strong> You won't be able to edit this message after it sends.</p>
                    </div>
                    <div class="button-container">
                        <button type="submit" class="small-custom-button" id="message-send">
                            <i class="fa-solid fa-paper-plane me-2"></i>Send
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="forum-user-container col-lg-3 ps-4 mt-4">
            <h6 class="m-0 p-0 mb-3 small text-black text-uppercase"><strong>Forum Participants</strong></h6>
            {% if not forum_participants %}
                <p class="text-secondary h6">Looks like there are no participants yet!</p>
                <p class="text-secondary h6">Send a message to join the forum.</p>
            {% else %}
                {% for member in forum_participants %}
                <div class="{% if member == user_profile %}user-member{% else %}member-container{% endif %} col-10 p-2 ps-3 mb-3">
                    <p class="text-white mb-2"><strong>{{ member }}</strong></p>
                    <p class="text-white"><small><strong>Member since:</strong> {{ member.first_message.date_sent.date }}</small></p>
                </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'community/js/messages.js' %}" type="module"></script>
{% endblock %}