{% extends '_second_nav.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'community/css/community.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row d-flex align-items-start justify-content-between">
        <div class="col-lg-3 m-0 p-0">
            <h4 class="mb-4">Forum Participants</h4>
            {% if not forum_participants %}
                <p class="text-secondary h6">Looks like there are no participants yet!</p>
                <p class="text-secondary h6">Send a message to join the forum.</p>
            {% else %}
                {% for member in forum_participants %}
                <div class="member-container col-12 p-2 mb-3">
                    <p><strong>{{ member }}</strong></p>
                    <p><small>Member since: {{ member.date_joined }}</small></p>
                </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="discussion-container col-lg-9 m-0 p-0">
            <div class="border p-2 d-flex flex-column justify-items-between align-items-center m-0 p-0">
                <div class="message-container col-lg-12 d-flex flex-column justify-content-center">
                    <p class="text-center text-uppercase {% if todays_date %}d-block{% else %}d-none{% endif %}">
                        <strong><small>{% if todays_date and forum_messages %}Today{% endif %}</small></strong>
                    </p>
                    {% if not forum_messages %}
                    <p class="text-center h5 text-secondary">Type a message to start the chat :)</p>
                    {% else %}
                        {% for message in forum_messages %}
                        {% if not message.date_sent.date == todays_date %}
                        <p class="text-center">{{message.date_sent.date}}</p>
                        {% endif %}
                        <div class="row m-3 p-0 d-flex 
                        {% if message.messenger.id == request.user.id %}
                        justify-content-end
                        {% else %}
                        justify-content-start
                        {% endif %} align-items-start">
                            <div class="message-box col-lg-6 mb-4 border">
                                <div class="message p-2">
                                    <div class="message-heading d-flex align-items-center justify-content-between">
                                        {% if message.messenger.id == request.user.id %}
                                        <p class="mb-2"><strong><small>me</small></strong></p>
                                        <span class="ps-3">
                                            <i class="fa-solid fa-xs fa-chevron-down"></i>
                                            <button type="submit" class="message-buttons btn btn-edit" data-message-id="{{ message.id }}">
                                                Edit
                                            </button>
                                            <!-- <a href="{% url 'edit_message' message.forum.slug message.id %}" class="message-buttons btn btn-edit" data-message-id="{{ message.id }}">Edit</a> -->
                                        </span>
                                        {% else %}
                                        <p class="mb-2"><strong><small>{{ message.messenger }}</small></strong></p>
                                        {% endif %}
                                    </div>
                                    <p id="message-content-{{ message.id }}">{{ message.content }}</p>
                                    <div class="message-footer d-flex justify-content-between align-items-end">
                                        {% if message.messenger.id == request.user.id %}
                                        <a href="{% url 'delete_message' message.forum.slug message.id %}" class="message-buttons btn p-0 mt-3 mx-0">
                                            <i class="fa-solid fa-sm fa-trash me-2"></i><span><small>DELETE</small></span>
                                        </a>
                                        <div class="message-sent d-flex align-items-center justify-content-between">
                                            <p class="text-end"><small>sent: {{ message.date_sent.time }}</small></p>
                                            <span class="tickies d-flex justify-content-end my-2 ms-2">
                                                <i class="fa-solid fa-xs fa-check"></i><i class="fa-solid fa-xs fa-check"></i>
                                            </span>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-12 mt-3">
                <form method="POST" id="messageForm" action="">
                    {% csrf_token %}
                    <div class="row m-0 p-0">
                        <div class="input-field col-11">
                            {{ messageForm|crispy }}
                        </div>
                        <div class="button-container col-1">
                            <button type="submit" class="btn btn-warning" id="message-send">Send</button>
                            <input type="hidden" name="forum-slug" id="forum-slug" value="{{ forum.slug }}">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'community/js/messages.js' %}" type="module"></script>
{% endblock %}