{% extends '_second_nav.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'community/css/community.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <form id="bookForm" method="post" class="bg-white p-3 rounded shadow-lg">
            {% csrf_token %}
            <div class="form-field-container d-flex flex-column">
                <div class="book-details d-flex flex-column flex-md-row justify-content-between">
                    <fieldset class="px-3 mb-3">
                        <legend class="fieldset-details fieldset-label small text-black text-uppercase"><strong>Book Details</strong></legend>
                        {{ bookForm.title | as_crispy_field }}
                        {{ bookForm.title.errors }}
                        {{ bookForm.isbn | as_crispy_field }}
                        {{ bookForm.isbn.errors }}
                        {{ bookForm.genre | as_crispy_field }} 
                        {{ bookForm.genre.errors }}           
                    </fieldset>
                    <fieldset class="px-3 mb-3">
                        <legend class="fieldset-details fieldset-label small text-black text-uppercase"><strong>Book Publisher</strong></legend>
                        {{ bookForm.year_published | as_crispy_field }}
                        {{ bookForm.year_published.errors }}
                        {{ bookForm.publisher | as_crispy_field }}
                        {{ bookForm.publisher.errors }}         
                    </fieldset>
                    <fieldset class="px-3 mb-3">
                        <legend class="fieldset-details fieldset-label small text-black text-uppercase"><strong>Book Pricing + Cover</strong></legend>
                        {{ bookForm.price | as_crispy_field }}
                        {{ bookForm.price.errors }}
                        {{ bookForm.type | as_crispy_field }}
                        {{ bookForm.type.errors }}
                        {{ bookForm.image | as_crispy_field }}
                        {{ bookForm.image.errors }}
                    </fieldset>
                </div>
                <fieldset class="px-3 mb-3">
                    <legend class="fieldset-details fieldset-label small text-black text-uppercase"><strong>Book Blurb</strong></legend>
                    {{ bookForm.blurb | as_crispy_field }} 
                    {{ bookForm.blurb.errors }}             
                </fieldset>
            </div>
            <div class="btn-container d-flex justify-content-center">
                <button type="submit" class="custom-button text-white" aria-label="Register Book">
                    <i class="fa-solid fa-book me-2"></i>Register Book
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}