/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
/* /Fonts */

/* Colour Specification */
:root {
    --dark-text-color : rgb(77, 77, 77);
    --mute-grey-color : rgb(156, 156, 156);
    --white-text : rgb(246, 246, 246);
    --light-grey : rgb(161, 161, 161);
    --orange : orange;
}
/* /Colour Specification */

/* Branding */
html, body{
    font-family: "Nunito Sans", sans-serif;
    color: var(--dark-text-color);
}
/* /Branding */

/* Links */
.nav-item a{
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--dark-text-color);
    transition: all 0.2s ease;
}

.nav-crumb a{
    text-decoration: none;
    font-size: 1rem;
    color: var(--dark-text-color);
    transition: all 0.2s ease;
}

.basket-link{
    text-decoration: none;
}

.social-links{
    color: var(--dark-text-color);
    transition: all 0.3s;
}

.social-links:hover i{
    transform: scale(1.20);
}
/* /Links */

/* UIUX */
*{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
    color: var(--dark-text-color);
}

.nav-item:hover, .nav-crumb:hover{
    transform: scale(1.05);
}

#contact-form{
    box-shadow: 8px 8px 8px 5px rgb(149, 149, 149);
    border-radius: 8px;
    max-width: 600px;
}

.second-nav-link a{
    font-size: 1rem;
}

.book-genre-rows {
    overflow-x: auto;
}

.active-loader{
    height: 3px;
    width: 100%;
    background-color: rgb(20, 20, 20);
    border-radius: 2px;
    transition: all 0.2s ease;
}

.search-button, .form-control{
    border-radius: 0;
}

.search-button{
    position: relative;
    z-index: 20;
    border: 2px solid var(--dark-text-color);
}

.custom-fields{
    border-radius: 0;
    height: 35px;
    margin: 0;
    padding-left: 10px;
}
/* /UIUX */

/* General */
body {
    min-height: 100vh;
}

.jumbotron{
    /* background-image: url(../images/florian-klauer-mk7D-4UCfmg-unsplash.jpg); */
    background-color: var(--mute-grey-color);
    background-size: contain;
    background-position: center;
    height: 520px;
}
/* /General */

/* Media Queries */
@media all and (min-width: 400px){
    /* .jumbotron-container{
        text-align: left;
        outline: 3px solid red;

    } */
}
/* /Media Queries */