/* Colour Specification */
:root {
    --dark-text-color : rgb(77, 77, 77);
    --mute-grey-color : rgb(156, 156, 156);
    --white-text : rgb(246, 246, 246);
    --light-grey : rgb(161, 161, 161);
    --orange : orange;
}
/* /Colour Specification */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* /Fonts */

/* Branding */
html, body{
    font-family: "Space Mono", monospace;
    color: var(--dark-text-color);
}
/* /Branding */

/* Links */
.nav-item a{
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--dark-text-color);
    transition: all 0.2s ease;
}

.nav-crumb a{
    text-decoration: none;
    font-size: 1rem;
    color: var(--dark-text-color);
    transition: all 0.2s ease;
}

.basket-link{
    text-decoration: none;
}
/* /Links */

/* UIUX */
.nav-item:hover a, .nav-crumb:hover a{
    color: var(--orange);
}

.basket-highlight{
    color: var(--orange);
}

.qty_input{
    min-width: 250px;
}

#qty_warning{
    width: 250px;
}

#contact-form{
    box-shadow: 8px 8px 8px 5px rgb(149, 149, 149);
    border-radius: 8px;
}

.footer-nav-items{
    width: 120px;
}

.second-nav-link a{
    font-size: 1rem;
}
/* /UIUX */

/* General */
body {
    min-height: 100vh;
}

.jumbotron{
    /* background-image: url(../images/florian-klauer-mk7D-4UCfmg-unsplash.jpg); */
    background-color: var(--mute-grey-color);
    background-size: contain;
    background-position: center;
    height: 550px;
}
/* /General */

/* Media Queries */
@media all and (min-width: 400px){
    /* .jumbotron-container{
        text-align: left;
        outline: 3px solid red;

    } */
}
/* /Media Queries */