{% load static %}
{% url 'home' as home_url %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Oops! Looks like the page you're looking for doesn't exist or is under development. Please refresh the page. If the issue persists, please contact our dedicated customer support team.">
        <title>Leaf Lounge 404</title>
        <link rel="icon" type="image/x-icon" href="{{ MEDIA_URL }}favicon.ico">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" 
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" 
            crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
    </head>

    <body>
        <div class="container text-center mt-5">
            <h1 class="mt-5 mb-3"><strong>404</strong></h1>
            <p><strong>Oops! Looks like the page you're looking for doesn't exist or is temporarily down.</strong></p>
            <p class="text-muted small mt-3">Please refresh the page. If the issue persists, please contact our dedicated customer support team.</p>
            <a href="{{ home_url }}" aria-label="Return to Home Page" class="custom-button mt-5">
                <i class="fa-solid fa-house me-1"></i>
                Return Home
            </a>
        </div> 
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/0bef6532fc.js" crossorigin="anonymous"></script>
    </body>

</html>