<!-- Mobile-Only Second Navigation Bar -->
<div class="container-fluid d-flex d-lg-none">
    <!-- Original Menu for Medium/Small Screens -->
    <div class="collapse navbar-collapse" id="leafLoungeLinks">
        <ul class="navbar-nav d-flex d-lg-none flex-column">
            <li class="nav-item py-3 ps-3">
                <a href="{{ home_url }}"><i class="fa-solid fa-sm fa-house-chimney me-2"></i>Home</a>
            </li>
            <li class="nav-item py-3 ps-3">
                <a href="{{ contact_url }}"><i class="fa-solid fa-sm fa-paper-plane me-2"></i>Contact</a>
            </li>
            <li class="nav-item py-3 ps-3">
                <a href="{{ library_url }}"><i class="fa-solid fa-sm fa-book me-2"></i>Library</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item py-3 ps-3">
                <a href="{{ community_general_url }}"><i class="fa-solid fa-book-open me-2"></i>My Communities</a>
            </li>
            <li class="nav-item py-3 ps-3">
                <a href="{% if request.user.is_authenticated %}{% url 'user_profile' %}{% else %}{{ signup_url }}{% endif %}">
                    <i class="fa-solid fa-user me-2"></i>My Profile
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
    <!-- Original Menu for Medium/Small Screens -->

    <!-- Basket + Sign Up -->
    <ul class="navbar-nav d-none d-md-block mt-3">
        <li class="nav-item px-2 mx-1 mb-3">
            <a href="{{ basket_url }}">
                <i class="fa-solid fa-basket-shopping {% if books_total %} basket-highlight gelatine{% endif %}"></i>
                <span class="{% if books_total %} basket-highlight {% endif %} text-sm">
                    {% if total %}
                        €{{ total|floatformat:2 }}
                    {% else %}
                        €0.00
                    {% endif %}
                </span>
            </a>
        </li>
    </ul>
    <!-- /Basket + Sign Up -->
</div>
<!-- /Mobile-Only Second Navigation Bar -->