{% extends "base.html" %}
{% load static %}
{% load my_tags}
{% block secondary_nav %}
<div class="secondary-navigation d-flex flex-column flex-md-row justify-content-between align-items-center">
    {% if detail %}
    {% include 'library/_breadcrumb.html' with book=book %}
    {% endif %}
    <ul class="navbar-nav flex-row justify-content-end mx-4 mb-3">
        <li class="nav-item second-nav-link text-center">
            <a href="{% if request.user.is_authenticated %}{% url 'user_books' %}{% else %}{{ signup_url }}{% endif %}">My Books</a>
        </li>
        <li class="mx-2">|</li>
        <li class="nav-item second-nav-link text-center">
            <!-- Add correct url here -->
            <a href="{% if request.user.is_authenticated %}{{ create_author_url }}{% else %}{{ signup_url }}{% endif %}">Become an Author</a>
        </li>
    </ul>
    <div class="form-container col-lg-2 col-md-4 col-sm-12 me-0 me-md-4">
        <form method="GET" action="{% url 'library' %}">
            <div class="input-group">
                <div class="input-group-append">
                    <button class="form-control" type="submit">
                        <span class="icon">
                            <i class="fas fa-search"></i>
                        </span>
                    </button>
                </div>
                <input class="form-control text-center" type="text" name="q" placeholder="Wuthering He...">
            </div>
        </form>
    </div>
</div>
{% endblock %}