{% extends "base.html" %}
{% load static %}
{% block secondary_nav %}
<div id="delivery-banner" class="row text-center">
    <div class="col bg-black text-white py-2">
        <h5 class="my-1 text-uppercase">Free delivery on orders over €{{ FDT }}</h5>
    </div>
</div>
<div class="secondary-navigation py-3 d-flex flex-column flex-md-row justify-content-between align-items-center">
    {% include 'library/_breadcrumb.html' with book=book %}
    <ul class="navbar-nav flex-row justify-content-end mx-4 mb-3">
        {% if request.user.is_authenticated %}
        <li class="nav-item second-nav-link text-center">
            <a href="">My Books</a>
        </li>
        <li class="mx-2">|</li>
        <li class="nav-item second-nav-link text-center">
            <a href="{% url 'user_profile' user.id %}">My Profile</a>
        </li>
        <li class="mx-2">|</li>
        {% endif %}
        <li class="nav-item second-nav-link text-center">
            <!-- Add correct url here -->
            <a href="{% if request.user.is_authenticated %}{{ home_url }}{% else %}{{ signup_url }}{% endif %}">Become an Author</a>
        </li>
    </ul>
    <div class="form-container col-lg-2 col-md-4 col-sm-12 me-0 me-md-4">
        <!-- Form shell obtained from https://github.com/Code-Institute-Solutions/
        boutique_ado_v1/blob/e59745990a036961e36cc0d469458b5e9b5a80de/templates/base.html -->
        <!-- Search Form -->
        <form method="GET" action="{% url 'library' %}">
            <div class="input-group">
                <input class="form-control text-center" type="text" name="q" placeholder="Wuthering He...">
                <div class="input-group-append">
                    <button class="form-control" type="submit">
                        <span class="icon">
                            <i class="fas fa-search"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
        <!-- /Search Form -->
    </div>
</div>
{% endblock %}