{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'blurb/css/contact.css' %}">{% endblock %}
{% block content %}

<div class="container-fluid flex-fill m-0 p-0 contact-container">
    <div class="row m-0 p-0 d-flex flex-column flex-lg-row justify-content-around align-items-center align-items-lg-start">
        <!-- Text -->
        <div class="col-lg-5 contact-info d-none d-md-flex flex-column align-items-start">
            <div class="header-container my-5">
                <h1 class="h2"><i class="fa-solid fa-xs fa-paper-plane me-2"></i>Contact Us</h1>
                <p class="typewriter mb-4 mt-3"><strong>Our dedicated support will get back to you within 2 working days :)</strong></p>
            </div>
            <p class="mb-4">
                <i class="fa-solid fa-bookmark me-2"></i>
                <strong>Join our communities</strong> and connect with like-minded individuals!
            </p>
            <p class="mb-4">
                <i class="fa-solid fa-bookmark me-2"></i>
                <strong>Become a Leaf Lounge author</strong> and launch your writing career!
            </p>
            <p class="mb-4">
                <i class="fa-solid fa-bookmark me-2"></i>
                <strong>Your participation</strong> strengthens and encourages our aspiring authors!
            </p>
            <div class="button-container mt-4">
                {% if user.is_authenticated %}
                <a href="{{ community_general_url }}" aria-label="Visit my Communities" class="text-white custom-button">
                    <i class="fa-solid fa-comments me-2"></i>My Communities
                </a>
                {% else %}
                <a href="{{ signup_url }}" aria-label="Sign Up" class="text-white custom-button">
                    <i class="fa-solid fa-user-plus me-2"></i>Join us today!
                </a>
                {% endif %}
            </div>
        </div>
        <!-- /Text -->
        <!-- Contact Form -->
        <div class="contact-form-container col-lg-7 col-md-8 col-sm-12 d-flex justify-content-center mt-4 p-5 p-md-4 p-sm-4 shadow-lg" id="contact-form">
            <form id="contactForm" class="col-12" method="post">
                {% csrf_token %}
                <fieldset class="px-3 mb-3">
                    <legend class="fieldset-details fieldset-label small text-black text-uppercase"><strong>About You</strong></legend>
                    <div class="row about-you d-flex justify-content-between align-items-center">
                        <div class="col-lg-6 col-md-12 col-sm-12" aria-label="Name">{{ contact_form.name | as_crispy_field }}</div>
                        <div class="col-lg-6 col-md-12 col-sm-12" aria-label="Email">{{ contact_form.email | as_crispy_field }}</div>
                    </div>
                </fieldset>
                <fieldset class="px-3 mb-3">
                    <legend class="fieldset-details fieldset-label small text-black text-uppercase"><strong>Subject</strong></legend>
                    <div class="col-12" aria-label="Subject">{{ contact_form.subject | as_crispy_field }}</div>
                </fieldset>
                <fieldset class="px-3 mb-3">
                    <legend class="fieldset-details fieldset-label small text-black text-uppercase"><strong>Message</strong></legend>
                    <div class="col-12" aria-label="Query">{{ contact_form.message | as_crispy_field }}</div>
                </fieldset>
                <div class="form-footer d-flex flex-column flex-md-row justify-content-between align-items-end">
                    <p class="small text-muted">P.S. A copy of this query will be sent to your email address.</p>
                    <button type="submit" class="text-white custom-button"><i class="fa-solid fa-paper-plane me-2"></i>Send Query</button>
                </div>
            </form>
        </div>
        <!-- /Contact Form -->
    </div>
</div>
{% endblock %}