{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-around align-items-start ms-5">
            <div class="contact-info">
                <h2 class="text-center my-5">Contact Us</h2>
                <ul>
                    <li class="my-3">blah blah blah</li>
                    <li class="my-3">blah blah blah</li>
                    <li class="my-3">blah blah blah</li>
                </ul>
            </div>
            <div class="col-7 d-flex justify-content-center my-3 p-5" style="box-shadow: 8px 8px 8px 5px rgb(149, 149, 149); border-radius: 8px;">
                <form id="contactForm" class="col-12" method="post">
                    {% csrf_token %}
                    {{ contactForm | crispy }}
                    <div class="btn-container d-flex justify-content-center">
                        <button type="submit" class="btn btn-warning">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}