{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="jumbotron d-flex flex-column align-items-start">
    {% if not user.is_authenticated %}
        <h3 class="p-5">Join millions of readers on your next journey</h1>
        <a href="{{ signin_url }}" class="ms-5 btn btn-lg btn-warning">
            <i class="fa-solid fa-arrow-right-to-bracket me-2"></i>Sign In
        </a>
    {% else %}
        <h3 class="p-5">Hey, {{ user }}!<br>Join in on the chatter in your communities :)</h1>
          <a href="{{ community_general_url }}" class="ms-5 btn btn-lg btn-warning">
            <i class="fa-solid fa-book-open me-2"></i>My Communities</a>
        </a>
    {% endif %}
    <div class="form-container col-lg-3 col-md-6 col-sm-12 m-5">
      <form method="GET" action="{% url 'library' %}">
          <div class="input-group">
              <div class="input-group-append">
                <button class="form-control search-button" type="submit">
                    <span class="icon">
                        <i class="fas fa-search"></i>
                    </span>
                </button>
              </div>
              <input class="form-control text-center search-input" type="text" name="q" placeholder="Wuthering He...">
          </div>
      </form>
      <!-- /Search Form -->
  </div>
</div>
{% endblock %}