{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="jumbotron d-flex flex-column align-items-center">
  <div class="container jumbotron-container text-center mb-5">
    <h1 class="display-4 pt-5">Welcome to Leaf Lounge</h1>
    <p class="lead">Join millions of readers on your next journey</p>
  </div>
  <div>
    <a href="{{ signin_url }}" class="btn btn-lg btn-warning">
      <i class="fa-solid fa-arrow-right-to-bracket me-2"></i>Sign In
    </a>
  </div>
</div>
<div class="container">
    <div class="row">

    </div>
</div>
{% endblock %}