.message-container{
    border-radius: 10px;
    max-height: 500px;
    min-height: 450px;
    overflow-y: auto;
}

.message-box{
    border-radius: 10px;
    background-color: rgb(95, 95, 143);
    color: white;
}

.member-container{
    border-radius: 10px;
    background-color: rgb(149, 177, 116);
}

.tickies{
    color: rgb(147, 255, 52);
}

.message-buttons{
    color: white;
    transition: color 0.3s ease;
}

.message-buttons:hover{
    color: rgb(255, 50, 50);
}