<div class="col-lg-4 d-flex flex-column ps-5">
    <p class="mb-1"><strong><small>Subscribe to the Leaf Lounge Newsletter!</small></strong></p>
    <form method="post" class="d-flex align-items-center justify-content-between">
        {% csrf_token %}
        <img src="../static/images/mailchimp.webp" alt="Mailchimp Newsletter Logo" width="80" class="me-3">
        {{ form.as_p }}
        <button type="submit" class="subscribe-btn d-flex justify-content-center align-items-center"><i class="fa-solid fa-circle-check fa-lg"></i></button>
    </form>
    <p class="mt-2 text-danger nav-link"><a href="{% url 'unsubscribe' %}">Unsubscribe form</a></p>
</div>