{% load static %}

<div class="col-lg-4 d-flex flex-column ps-5">
    <label class="toggle mb-2">
        <input type="checkbox" id="subscribe-unsubscribe">
        <span class="slider round">
            <span class="unsubscribe-text text-start">Unsubscribe Below</span>
            <span class="subscribe-text text-end">Subscribe Below</span>
        </span>
    </label>
    <!-- Subscribe -->
    <form method="post" action="{% url 'subscribe' %}" class="subscribe-form d-flex align-items-center justify-content-start">
        {% csrf_token %}
        <div class="inner-form-container d-flex align-items-center justify-content-center">
            {{ marketing_form.as_p }}
            <button type="submit" class="subscribe-btn d-flex justify-content-center align-items-center" aria-label="Subscribe">
                <i class="add fa-solid fa-circle-check fa-lg"></i>
            </button>
        </div>
        <img src="{{ MEDIA_URL }}mailchimp.webp" class="mailchimp-logo ms-2" alt="Mailchimp Newsletter Logo">
    </form>
    <!-- Unsubscribe -->
    <form method="post" action="{% url 'unsubscribe' %}" class="unsubscribe-form d-none align-items-center justify-content-start">
        {% csrf_token %}
        <div class="inner-form-container d-flex align-items-center justify-content-center">
            {{ marketing_form.as_p }}
            <button type="submit" class="unsubscribe-btn d-flex justify-content-center align-items-center" aria-label="Unsubscribe">
                <i class="remove fa-solid fa-circle-xmark fa-lg"></i>
            </button>
        </div>
        <img src="{{ MEDIA_URL }}mailchimp.webp" class="mailchimp-logo ms-2" alt="Mailchimp Newsletter Logo">
    </form>
</div>