{% extends '_second_nav.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'reader/css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="slider-review position-absolute row border bg-light d-none" id="review-slide">
        <form action="" method="post" id="re-review" class="p-4">
            <h4 class="text-uppercase small"><strong><i class="fa-solid fa-book me-2"></i>Review Form</strong></h4>
            {% csrf_token %}
            {{ review_form | crispy }}
            <div class="button-container d-flex justify-content-between">
                <button id="submitButton" type="submit" class="custom-button" aria-label="Update Review">
                    Update Review<i class="fa-solid fa-circle-check ms-2"></i>
                </button>
                <button id="cancelReview" class="custom-button" type="button" aria-label="Cancel">
                    Cancel<i class="fa-solid fa-circle-xmark ms-2"></i>
                </button>
            </div>
        </form>
    </div>
    <div class="row mt-3">
        <div class="col-lg-3 col-md-3 col-sm-12 order-first">
            <ul class="list-unstyled ms-3">
                <li class="menu-item">
                    <button class="table-button mb-2 display-button" data-detail="billing" aria-label="View my Billing Details">
                        My Billing Details
                    </button>
                </li>
                <li class="menu-item">
                    <button class="table-button mb-2 display-button" data-detail="history" aria-label="View my Order History">
                        My Order History
                    </button>
                </li>
                <li class="menu-item">
                    <!-- This structure is necessary to maintain the styling -->
                    <a href="{{ community_general_url }}" aria-label="Visit my Communities">
                        <button class="table-button mb-2">
                            My Communities
                        </button>
                    </a>
                </li>
                <li class="menu-item">
                    <button class="table-button mb-2 display-button" data-detail="reviews" aria-label="View my Reviews">
                        My Reviews
                    </button>
                </li>
                <li class="menu-item">
                    <!-- This structure is necessary to maintain the styling -->
                    <a href="{{ contact_url }}" aria-label="Contact Leaf Lounge for Help">
                        <button class="table-button mb-2">
                            Need Help?
                        </button>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 order-first order-md-last text-center">
            <div class="profile-starter me-5 pt-3">
                <h5>Hey there! You've found your profile.</h5>
                <p>To get started, click on a button on the left handside to view, change, or delete your information.</p>
            </div>
            <ul class="list-unstyled">
                <li class="d-none profile-details mx-0 mx-md-3 d-flex justify-content-start align-items-start ms-5" data-profile="billing-details">
                    <div class="main-form bg-light rounded shadow-sm p-4">
                        <h4 class="mb-3 text-uppercase text-start small"><strong><i class="fa-solid fa-book me-2"></i>My Details</strong></h4>
                        <hr>
                        <form action="{% url 'user_profile' %}" method="post" id="userProfileForm">
                            {% csrf_token %}
                            <div class="inner-form-container d-flex flex-column flex-md-row align-items-start justify-content-between">
                                <div class="half">
                                    <fieldset class="px-3 mb-3">
                                        <legend class="fieldset-details fieldset-label small text-black text-uppercase text-start"><strong>Contact Details</strong></legend>
                                        <div aria-label="Saved Phone Number">{{ user_form.default_phone_number | as_crispy_field }}</div>
                                    </fieldset>
                                    <fieldset class="px-3 mb-3">
                                        <legend class="fieldset-details fieldset-label small text-black text-uppercase text-start"><strong>Street Address</strong></legend>
                                        <div aria-label="Saved Street">{{ user_form.default_street_1 | as_crispy_field }}</div>
                                        <div aria-label="Saved Street">{{ user_form.default_street_2 | as_crispy_field }}</div>
                                        <div aria-label="Saved Town or City">{{ user_form.default_town_city | as_crispy_field }}</div>
                                    </fieldset>
                                </div>
                                <div class="half">
                                    <fieldset class="px-3 mb-3">
                                        <legend class="fieldset-details fieldset-label small text-black text-uppercase text-start"><strong>Locality</strong></legend>
                                        <div aria-label="Saved County">{{ user_form.default_county | as_crispy_field }}</div>
                                    </fieldset>
                                    <fieldset class="px-3 mb-3">
                                        <legend class="fieldset-details fieldset-label small text-black text-uppercase text-start"><strong>Region</strong></legend>
                                        <div aria-label="Saved Postcode">{{ user_form.default_postcode | as_crispy_field }}</div>
                                        <div aria-label="Saved Country">{{ user_form.default_country | as_crispy_field }}</div>
                                    </fieldset>
                                    <div class="button-container d-flex justify-content-end me-3">
                                        <button type="submit" aria-label="Update Information" class="btn-lg custom-button"><i class="fa-solid fa-circle-check me-2"></i>Update Information</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>
                <li class="d-none profile-details me-5" data-profile="history-details">
                    <div>
                        <h4 class="mb-3 text-uppercase text-center text-md-start small"><strong>
                            <i class="fa-solid fa-list me-2"></i>My Order History</strong>
                        </h4>
                        {% if book_orders %}
                            {% for book_order in book_orders %}
                            <div class="row accordion accordion-flush my-2 px-3 bg-white shadow-sm p-3 rounded" id="accordion{{ forloop.counter }}">
                                <div class="col-lg-9 accordion-item bg-light rounded">
                                    <div class="info-container mt-3">
                                        <p class="m-0 p-0"><strong>Order Number : <span class="small">{{ book_order.order_number }}</span></strong></p>
                                        <p class="m-0 p-0"><small>Date placed: {{ book_order.date }}</small></p>
                                    </div>
                                    <div class="book-profile-order d-flex flex-column flex-md-row justify-content-start align-items-start">
                                        {% for book in book_order.booklineitem.all %}
                                        <div class="mx-3 mb-3 d-flex flex-column justify-content-between">
                                            <div class="book-info">
                                                {% if book.book.image %}
                                                <img src="{{ book.book.image.url }}" class="mt-4 mb-2 profile-books" alt="{{ book.book.title }} cover">
                                                {% else %}
                                                <img src="{{ MEDIA_URL }}bookplaceholder.png" alt="generic placeholder cover" class="mt-4 mb-2 profile-books">
                                                {% endif %}
                                                <p class="m-0 p-0"><small><strong>( {{ book.quantity }} )</strong></small></p>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-lg-3 d-flex flex-column justify-content-between">
                                    <div class="info-container ms-4 mt-3">
                                        <div class="row d-flex shadow-sm p-2">
                                            <span class="col-3"><strong>Subtotal: </strong></span>
                                            <span class="col-9"><p class="m-0 p-0">€{{ book_order.order_total }}</p></span>
                                        </div>
                                        <div class="row d-flex shadow-sm p-2">
                                            <span class="col-3"><strong>Shipping: </strong></span>
                                            <span class="col-9"><p class="m-0 p-0">{% if book_order.delivery_cost == 0.00 %}<strong>FREE</strong>{% else %}€{{ book_order.delivery_cost }}{% endif %}</p></span>
                                        </div>
                                        <div class="row d-flex shadow-sm p-2">
                                            <span class="col-3"><strong>Total: </strong></span>
                                            <span class="col-9"><p class="m-0 p-0">€{{ book_order.grand_total }}</p></span>
                                        </div>
                                    </div>
                                    <button class="custom-button ms-2 accordion-button collapsed text-white" aria-label="View Shipping Details" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="flush-collapse{{ forloop.counter }}">
                                        <i class="fa-solid fa-truck-fast me-2"></i>Shipping Details
                                    </button>
                                </div>
                                <div id="flush-collapse{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ forloop.counter }}" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body text-start">
                                        <h6 class="my-3 text-uppercase"><strong>Shipping Address</strong></h6>
                                        <div class="row d-flex shadow-sm p-2">
                                            <span class="col-3"><strong>Full Name: </strong></span>
                                            <span class="col-9"><p class="text-start my-0 p-0">{{ book_order.full_name }}</p></span>
                                        </div>
                                        <div class="row d-flex shadow-sm p-2">
                                            <span class="col-3"><strong>Street 1: </strong></span>
                                            <span class="col-9"><p class="my-0 p-0">{{ book_order.street_1 }}</p></span>
                                        </div>
                                        {% if book_order.street_2 %}
                                        <div class="row d-flex shadow-sm p-2">
                                            <span class="col-3"><strong>Street 2: </strong></span>
                                            <span class="col-9"><p class="my-0 p-0">{{ book_order.street_2 }}</p></span>
                                        </div>
                                        {% endif %}
                                        <div class="row d-flex shadow-sm p-2">
                                            <span class="col-3"><strong>Town / City: </strong></span>
                                            <span class="col-9"><p class="my-0 p-0">{{ book_order.town_city }}</p></span>
                                        </div>
                                        {% if book_order.county %}
                                        <div class="row d-flex shadow-sm p-2">
                                            <span class="col-3"><strong>County: </strong></span>
                                            <span class="col-9"><p class="my-0 p-0">{{ book_order.county }}</p></span>
                                        </div>
                                        {% endif %}
                                        {% if book_order.postcode %}
                                        <div class="row d-flex shadow-sm p-2">
                                            <span class="col-3"><strong>Postcode: </strong></span>
                                            <span class="col-9"><p class="my-0 p-0">{{ book_order.postcode }}</p></span>
                                        </div>
                                        {% endif %}
                                        <div class="row d-flex shadow-sm p-2">
                                            <span class="col-3"><strong>Country: </strong></span>
                                            <span class="col-9"><p class="my-0 p-0">{{ book_order.country }}</p></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        {% else %}
                            <p>Looks like you don't have any orders!</p>
                            <p>To place an order, visit our <span>
                                <a href="{{ library_url }}" aria-label="Library Page">Library</a></span> :)
                            </p>
                        {% endif %}
                    </div>
                </li>
                <li class="d-none profile-details" data-profile="reviews-details">
                    <div>
                        <h4 class="text-uppercase text-center text-md-start small"><strong><i class="fa-solid fa-pencil me-2"></i>My Reviews</strong></h4>
                        {% if user_reviews %}
                            {% for review in user_reviews %}
                                <div class="row outer-review bg-white shadow-sm p-2 rounded m-3">
                                    <div class="header row">
                                        <div class="half col-6">
                                            <div class="rating-container d-flex">
                                                <div id="profile-rating-box-{{ forloop.counter }}" data-forloop="{{ forloop.counter }}" data-rating="{{ review.rating }}" class="review rating-box d-flex justify-content-start align-items-start mb-3">
                                                    <img src="{{ MEDIA_URL }}stars.png" alt="{{ book.title }} cover" id="profile-loader-image-{{ forloop.counter }}" class="loader-image">
                                                    <div id="profile-rating-bar-{{ forloop.counter }}" class="rating-bar"></div>
                                                </div>
                                            </div>
                                            <h5 class="text-start">{{ review.title }}</h5>
                                        </div>
                                        <div class="half col-6 text-end">
                                            <p class="ms-2 mt-2 {% if review.approved %}text-success{% endif %}">
                                                {% if review.approved %}
                                                <i class="fa-solid fa-circle-check fa-sm me-2"></i>Approved
                                                {% else %}<i class="fa-solid fa-hourglass-start fa-sm me-2"></i>Pending
                                                {% endif %}
                                            </p>
                                            <p class="ms-2 small text-secondary">Reviewed on: {{ review.reviewed_on }}</p>
                                        </div>
                                    </div>
                                    <div class="inner-review bg-light shadow-sm p-2 rounded m-2 d-flex flex-column justify-content-between">
                                        <div class="general-info">
                                            <p class="ms-2 small text-start"><strong>Book: {{ review.book.title }}</strong></p>
                                            <p class="ms-2 small text-start">Author: {{ review.book.author }}</p>
                                        </div>
                                        <p class="pb-2 text-start">{{ review.comment|safe }}</p>
                                    </div>
                                    <div class="button-container pb-2 d-flex justify-content-between align-items-end">
                                        {% if not review.approved %}
                                        <button class="btn btn-warning m-2 d-flex justify-content-center align-items-center btn-edit"
                                            data-review-id="{{ review.id }}" data-review-title="{{ review.title }}"
                                            data-review-comment="{{ review.comment }}" data-review-rating="{{ review.rating }}"
                                            data-book-title="{{ review.book }}">
                                            <i class="fa-solid fa-pencil fa-sm me-2"></i>Edit
                                        </button>
                                        {% else %}
                                        <p class="ms-2 my-2 small text-muted">You can no longer edit this review.</p>
                                        {% endif %}
                                        
                                        <div class="admin-button-container d-flex">
                                            {% if not review.approved and user.is_superuser %}
                                            <a href="{% url 'approve_review' review.id %}" aria-label="Approve Review (Admin)" class="btn btn-success m-2 d-flex justify-content-center align-items-center">
                                                <i class="fa-solid fa-check fa-sm me-2"></i>Approve
                                            </a>
                                            {% endif %}
                                            <button class="btn btn-danger m-2 d-flex justify-content-center align-items-center"
                                            type="button" data-bs-toggle="modal" data-bs-target="#reviewDelete" aria-label="Delete Review">
                                                <i class="fa-solid fa-trash fa-sm me-2"></i>Delete
                                            </button>
                                            
                                            <!-- Modal -->
                                            <div class="modal fade" id="reviewDelete" tabindex="-1" role="dialog" aria-labelledby="reviewDelete" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header border-0 d-flex justify-content-between">
                                                            <h5 class="modal-title" id="reviewDelete">Are you sure?</h5>
                                                            <span aria-hidden="true" class="close" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></span>
                                                        </div>
                                                        <div class="modal-body border-0">
                                                            <p>You won't be able to undo the delete.</p>
                                                        </div>
                                                        <div class="modal-footer d-flex justify-content-between">
                                                            <button type="button" class="custom-button" data-bs-dismiss="modal">No, Cancel</button>
                                                            <!-- Structure necessary to maintain styling -->
                                                            <a href="{% url 'delete_review' review.id %}" class="btn-link">
                                                                <button type="button" class="custom-button"><i class="fa-solid fa-sm fa-trash me-2"></i>Yes, Delete</button>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>You can view any pending and approved reviews here!</p>
                            <p>To leave a review go to <span>
                                <a href="{{ books_url }}" aria-label="Go to my books">My Books</a></span>
                            </p>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script type="text/javascript" src="{% static 'reader/js/profile.js' %}"></script>
<script type="text/javascript" src="{% static 'reader/js/crud.js' %}"></script>
{% endblock %}