{% extends '_second_nav.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'reader/css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-3">
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="menu-column">
                <ul class="list-unstyled">
                    <li class="menu-item">
                        <button class="btn-md custom-button mb-2 display-button" data-detail="billing">My Billing Details</button>
                    </li>
                    <li class="menu-item">
                        <button class="btn-md custom-button mb-2 display-button" data-detail="history">My Order History</button>
                    </li>
                    <!-- Change URL -->
                    <li class="menu-item">
                        <a href="{{ community_general_url }}">
                            <button class="btn-md custom-button mb-2">
                                My Communities
                            </button>
                        </a>
                    </li>
                    <li class="menu-item">
                        <button class="btn-md custom-button mb-2 display-button" data-detail="reviews">My Reviews</button>
                    </li>
                    <li class="menu-item">
                        <a href="{{ contact_url }}">
                            <button class="btn-md custom-button mb-2">
                                Need Help?
                            </button>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-12">
            <div class="profile-starter">
                <h5>Hey there! You've found your profile.</h5>
                <p>Click on a button on the left handside to view, change, or delete your information.</p>
            </div>
            <ul class="list-unstyled">
                <li class="profile-details d-none" data-profile="billing-details">
                    <div>
                        <h5 class="mb-4"><strong>My Details</strong></h5>
                        <form action="{% url 'user_profile' %}" method="POST" id="userProfileForm">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <div class="button-container d-flex justify-content-end mt-3">
                                <button type="submit" class="btn-lg custom-button"><small><i class="fa-solid fa-check me-2"></i>Save Info</small></button>
                            </div>
                        </form>
                    </div>
                </li>
                <li class="profile-details d-none" data-profile="history-details">
                    <div>
                        <h5 class="mb-4"><strong>My Order History</strong></h5>
                        {% for book_order in book_orders %}
                        <div class="row accordion accordion-flush border my-2 px-3" id="accordion{{ forloop.counter }}">
                            <div class="col-lg-9 accordion-item d-flex flex-column justify-content-between">
                                <div class="info-container">
                                    <h6 class="my-4"><strong>Order Details</strong></h6>
                                    <p class="m-0 p-0"><strong>Order Number : {{ book_order.order_number }}</strong></p>
                                    <p class="m-0 p-0"><small>Date placed: {{ book_order.date }}</small></p>
                                </div>
                                <div class="image-container d-flex">
                                    {% for book in book_order.booklineitem.all %}
                                    <!-- Add book image here -->
                                    <div style="max-width: 150px;" class="mx-3">
                                        <img src="../../../static/images/1984_cover.jpg" class="mt-4 mb-2" style="width: 100px;" alt="{{ book.book.title }} book cover">
                                        <p class="m-0 p-0"><strong><small>{{ book.book.title }}</small></strong></p>
                                        <p><small>x {{ book.quantity }}</small></p>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-lg-3 d-flex flex-column justify-content-between">
                                <div class="info-container">
                                    <h6 class="my-4"><strong>Billing Details</strong></h6>
                                    <p class="m-0 p-0">Subtotal : €{{ book_order.order_total }}</p>
                                    <p class="m-0 p-0">Shipping : {% if book_order.delivery_cost == 0.00 %}<strong>FREE</strong>{% else %}€{{ book_order.delivery_cost }}{% endif %}</p>
                                    <p class="m-0 p-0">Total : €{{ book_order.grand_total }}</p>
                                </div>
                                <button class="custom-button mb-4 accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="flush-collapse{{ forloop.counter }}">
                                    <i class="fa-solid fa-truck-fast me-2"></i>Shipping Details
                                </button>
                            </div>
                            <div id="flush-collapse{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ forloop.counter }}" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <h6 class="my-4"><strong>Billing Details</strong></h6>
                                    <p class="my-0 p-0">{{ book_order.full_name }}</p>
                                    <p class="my-0 p-0">{{ book_order.street_1 }}</p>
                                    {% if book_order.street_2 %}
                                        <p class="my-0 p-0">{{ book_order.street_2 }}</p>
                                    {% endif %}
                                    <p class="my-0 p-0">{{ book_order.town_city }}</p>
                                    {% if book_order.county %}
                                        <p class="my-0 p-0">{{ book_order.county }}</p>
                                    {% endif %}
                                    {% if book_order.postcode %}
                                        <p class="my-0 p-0">{{ book_order.postcode }}</p>
                                    {% endif %}
                                    <p class="my-0 p-0">{{ book_order.country }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </li>
                <li class="profile-details d-none" data-profile="reviews-details">
                    <div>
                        <h5 class="mb-4"><strong>My Reviews</strong></h5>
                        {% if user_reviews %}
                            <div class="row d-flex flex-row justify-content-center align-items-center">
                                {% for review in user_reviews %}
                                    <div class="col-lg-3 col-md-6 col-sm-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h6 class="strong">{{ review.title }}</h6>
                                                <p class="mt-3">{{ review.book.title }}</p>
                                                <p class="small text-secondary">{{ review.reviewed_on }}</p>
                                            </div>
                                            <div class="card-body">
                                                <p>{{ review.rating }}</p>
                                                <p>{{ review.comment }}</p>
                                            </div>
                                            <div class="card-footer">
                                                <p class="small">status: {% if review.approved %}Approved!{% else %}Pending{% endif %}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <p>You can view any pending and approved reviews here!</p>
                            <p>To leave a review go to <span><a href="{{ books_url }}">My Books</a></span></p>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script type="text/javascript" src="{% static 'reader/js/profile.js' %}"></script>
{% endblock %}