{% extends "_second_nav.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'reader/css/review.css' %}">
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row m-0 p-0 d-flex align-items-start justify-content-around">
        {% if review_book.image %}
        <img src="{{ review_book.image.url }}" alt="{{ review_book.title }} cover" class="review-book">
        {% else %}
        <img src="{{ MEDIA_URL }}bookplaceholder.png" alt="generic placeholder cover" class="review-book">
        {% endif %}
        <div class="col-lg-6 col-md-8 col-sm-12">
            <form method="post" class="p-3 bg-white shadow-lg rounded" id="reviewForm" data-book-title="{{ review_book.title }}">
                <h4 class="text-center strong">We appreciate your feedback!</h4>
                <h6 class="small text-center">Posting as {{ request.user }}</h6>
                <div class="review-user d-flex flex-column align-items-end justify-content-start">
                    <div class="rating-container d-flex justify-content-center align-items-center">
                        <div id="rating-box-review" class="d-flex justify-content-start align-items-start">
                            <img src="{{ MEDIA_URL }}stars.png" alt="rating-stars" width="160" id="loader-image-review">
                            <div id="rating-bar-review"></div>
                        </div>
                    </div>
                    <p class="small text-muted mt-2">P.S. This field will autofill ;)</p>
                </div>
                {% csrf_token %}
                <div class="inner-form-container d-flex align-items-end justify-content-between">
                    <div class="review-form">
                        {{ reviewForm|crispy }}
                    </div>
                    <div class="button-container d-flex justify-content-end mb-2 me-2">
                        <button type="submit" class="custom-button">
                            <i class="fa-solid fa-check me-2"></i>Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script type="module" src="{% static 'reader/js/review.js' %}"></script>
{% endblock %}